/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 22, 2015, 7:57:07 PM
    Author     : Deepank
*/
         
.image-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.image-box .image-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.image-box .image-box-caption .image-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.image-box .image-box-caption .image-box-caption-content .project-category,
.image-box .image-box-caption .image-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.image-box .image-box-caption .image-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.image-box .image-box-caption .image-box-caption-content .project-name {
    font-size: 18px;
}

.image-box:hover .image-box-caption {
    opacity: 1;
}


@media(min-width:768px) {
    .image-box .image-box-caption .image-box-caption-content .project-category {
        font-size: 16px;
    }

    .image-box .image-box-caption .image-box-caption-content .project-name {
        font-size: 22px;
    }
    
}
.st-member {
  position: relative;
  overflow: hidden;
}
.st-member .st-member-info {
  width: 100%;
  height: 100%;
  padding: 70px 35px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(254, 254, 254, 0.95);
  opacity: 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
          transition: opacity 0.5s, transform 0.5s;
}
.st-member .st-member-info .progress-bar {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease 0.2s;
          transition: transform 0.5s ease 0.2s;
}
.st-member .st-member-info .st-member-name {
  font-family: "Oswald";
  display: block;
  color: #4c4c4c;
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.st-member .st-member-info .st-member-name:after {
  content: '';
  display: block;
  height: 2px;
  width: 35px;
  background-color: #f05f40;
  margin: 0 auto;
}
.st-member .st-member-info .st-member-pos {
  display: block;
  font-family: "Oswald";
  font-size: 20px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 3px;
  font-style: italic;
  margin-bottom: 40px;
}
.st-member .st-member-info .st-member-social {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 70px;
}
.st-member .st-member-info .st-member-social ul {
  margin: 0;
  padding: 0;
}
.st-member .st-member-info .st-member-social ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0;
  padding: 0;
}
.st-member .st-member-info .st-member-social ul li a {
  display: block;
  width: 70px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: background-color 0.3s, opacity 0.3s ease, -webkit-transform 0.5s ease;
          transition: background-color 0.3s, opacity 0.3s ease, transform 0.5s ease;
}
.st-member .st-member-info .st-member-social ul li a.facebook:hover {
  background-color: #3c5b9b;
}
.st-member .st-member-info .st-member-social ul li a.twitter:hover {
  background-color: #2daae1;
}
.st-member .st-member-info .st-member-social ul li a.google:hover {
  background-color: #c9302c;
}
.st-member:hover {
  cursor: pointer;
}
.st-member:hover .st-member-info {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.st-member:hover .st-member-info .st-member-social ul li a {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.st-member:hover .st-member-info .st-member-social ul li a.facebook {
  -webkit-transition: background-color 0.3s, opacity 0.3s ease 0.2s, -webkit-transform 0.5s ease 0.2s;
          transition: background-color 0.3s, opacity 0.3s ease 0.2s, transform 0.5s ease 0.2s;
}
.st-member:hover .st-member-info .st-member-social ul li a.facebook:hover {
  background-color: #3c5b9b;
}
.st-member:hover .st-member-info .st-member-social ul li a.twitter {
  -webkit-transition: background-color 0.3s, opacity 0.3s ease 0.3s, -webkit-transform 0.5s ease 0.3s;
          transition: background-color 0.3s, opacity 0.3s ease 0.3s, transform 0.5s ease 0.3s;
}
.st-member:hover .st-member-info .st-member-social ul li a.twitter:hover {
  background-color: #2daae1;
}
.st-member:hover .st-member-info .st-member-social ul li a.google {
  -webkit-transition: background-color 0.3s, opacity 0.3s ease 0.4s, -webkit-transform 0.5s ease 0.4s;
          transition: background-color 0.3s, opacity 0.3s ease 0.4s, transform 0.5s ease 0.4s;
}
.st-member:hover .st-member-info .st-member-social ul li a.google:hover {
  background-color: #c9302c;
}
.st-member:hover .st-member-info .skills .skill:nth-child(2) .progress-bar {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.st-member:hover .st-member-info .skills .skill:nth-child(3) .progress-bar {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.st-member:hover .st-member-info .skills .skill:nth-child(4) .progress-bar {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.st-member:hover .st-member-info .skills .skill:nth-child(5) .progress-bar {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.st-member:hover .progress-bar {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.skill {
  text-align: left;
}
.skill strong {
  font-weight: 400;
}
.skill span {
  float: right;
}

.skill progress{
    height:3px !important;
}
.progress-bar-sept {
  background-color: #f05f40;
}

.progress-bar {
  height: 3px;
  margin-top: 3px;
  border-radius: 2px;
  position: relative;
  box-shadow: none;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-animation-name: process;
          animation-name: process;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@media(min-width:768px) {
    .questionsrow{
        margin-right:250px;
    }
    .side-right-nav {
        background-color:#4c4c4c;
    position: fixed;
    top: 51px;
    right: 250px;
    width: 250px;
    margin-right: -250px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    /*background-color: #f8f8f8;*/
    border-color: #e7e7e7;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    }

    .side-right-nav>a {
        width: 250px;
    }

    .side-right-nav a:hover,
    .side-right-nav a:focus {
        outline: none;
        color: #000;
        /*background-color: transparent;*/
    }
}





.side-right-nav>a:hover {
    /*color: #fff;*/
    color:#b52b27;
}
